<html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<head>
</head>

<body>
    <h1>--나의 여행 LIST--</h1>
    <div data-role="page" id="pageOne">
        <div role="main" class="ui-content">
            <ul data-role="listview" data-inset="true" id="list">
            </ul>
        </div>
    </div>

    <!--유저의 관광지 목록 출력하기-->
    <script type="text/javascript">
        jQuery.ajax({
            type: 'post',
            url: "test5",
            data: " ",
            success: function (data) {
                var html = "";
                for (var i = 1; i < data.length;) {
                    html += '<li>';
                    html += '<h3>' + data[i] + '</h3>';
                    html += '<input type="button" onclick="onClick(this.id)" id="' + data[i] + '" value="삭제하기" >'
                    html += '</li>';
                    i = i + 1;
                }

                $("#list").append(html);
                $("#list").html.apply(html);
            },
            error: function (jqXHR, textStatus, err) {
                alert('text status ' + textStatus + ', err ' + err)
            }
        });
    </script>

    <!--선택한것 delete하기-->
    <script type="text/javascript">
        function onClick(check) {
            alert("선택한 여행지를 삭제하겠습니다.")
            console.log(check);
            jQuery.ajax({
                type: 'post',
                url: "test6",
                data: { loc: check },
                success: function (data) {
                    var html = "";
                    for (var i = 0; i < data.length;) {
                        html += '<li>';
                        html += '<h3>' + data[i] + '</h3>';
                        html += '<input type="button" onclick="onClick(this.id)" id="' + data[i] + '" value="삭제하기" >'
                        html += '</li>';
                        i = i + 1;
                    }
                    // refresh list view
                    $('#list').empty(html);
                    $("#list").append(html);
                    $("#list").html.apply(html);

                },
                error: function (jqXHR, textStatus, err) {
                    alert('text status ' + textStatus + ', err ' + err)
                }
            })
        }
    </script>
</body>

</html>