<html>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<head>
  <title>FindLocation</title>
  <meta charset="utf-8">
</head>

<body>
  <li>
    <label class="reg" for="class"> 여행 할 장소를 고르시오.</label>
    <select id="class" name="class">
      <option value="서울특별시">서울특별시</option>
      <option value="부산광역시">부산광역시</option>
      <option value="대구광역시">대구광역시</option>
      <option value="인천광역시">인천광역시</option>
      <option value="대전광역시">대전광역시</option>
      <option value="울산광역시">울산광역시</option>
      <option value="강원도">강원도</option>
      <option value="경기도">경기도</option>
      <option value="충청북도">충청북도</option>
      <option value="충청남도">충청남도</option>
      <option value="전라북도">전라북도</option>
      <option value="전라남도">전라남도</option>
      <option value="경상북도">경상북도</option>
      <option value="경상남도">경상남도</option>
      <option value="제주">제주</option>
    </select>
    <button type="button" id="sendContact">완료</button>
    <button type="button" id="checkdata" onClick="location.href='/CheckMyNewData'" style="float: right;">내 여행리스트
      보러가기</button>


  </li>
  <br>

  <!--카카오지도-->
  <div id="map" style="width:50%;height:400px;"></div>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8d5e3f9817f68d0669a5b4aa1e19f997"></script>
  <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
      mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
      };
    // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption); 
  </script>

  <!--화면에 관광지명 보여주기위한 html-->
  <h3>--추천 관광지명--</h3>
  <div data-role="page" id="pageOne">
    <div role="main" class="ui-content">
      <ul data-role="listview" data-inset="true" id="list">
      </ul>
    </div>
  </div>

  <!--화면에 추천 관광지명과 지도보기 및 선택하는 버튼 생성-->
  <script type="text/javascript">
    jQuery('#sendContact').click(function () {
      var loc = $('#class').val()
      jQuery.ajax({
        type: 'post',
        url: "test2",
        data: { loc: $('#class').val() },
        success: function (data) {
          var html = "";
          for (var i = 0; i < data.length;) {
            html += '<li>';
            html += '<h5>' + data[i] + '</h5>';
            html += '<input type="button" onclick="onClick(this.id)" id="' + data[i] + '" value="지도보기">'
            html += ' '
            html += '<input type="button" onclick="onClick2(this.id)" id="' + data[i] + '" value="여행리스트에 추가하기">'
            html += '</li>';
            i = i + 1;
          }
          // refresh list view
          $('#list').empty(html);
          $("#list").append(html);
          $("#list").html.apply(html);
        },
        error: function (jqXHR, textStatus, err) {
          alert('text status ' + textStatus + ', err ' + err)
        }
      })
    }); 
  </script>

  <!--선택한 곳의 위치를 지도위에 마커를 활용하여 띄우기-->
  <div id="map" style="width:50%;height:400px;"></div>
  <script type="text/javascript">
    function onClick(check) {
      console.log(check);
      jQuery.ajax({
        type: 'post',
        url: "test3",
        data: { loc: check },
        success: function (data) {
          var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
            mapOption = {
              center: new kakao.maps.LatLng(data[0], data[1]), // 지도의 중심좌표
              level: 3 // 지도의 확대 레벨
            };
          // 지도를 표시할 div와  지도 옵션으로  지도를 생성합니다
          var map = new kakao.maps.Map(mapContainer, mapOption);

          // 마커가 표시될 위치입니다 
          var markerPosition = new kakao.maps.LatLng(data[0], data[1]);
          if (data[0] != 33.450701) {
            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
              position: markerPosition
            });
            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);
          }

        },
        error: function (jqXHR, textStatus, err) {
          alert('text status ' + textStatus + ', err ' + err)
        }
      })
    }
  </script>


  <!--선택한것 내 여행 list에 insert하기-->
  <script type="text/javascript">
    function onClick2(check) {
      jQuery.ajax({
        type: 'post',
        url: "test4",
        data: { loc: check },
        success: function (data) {

        },
        error: function (jqXHR, textStatus, err) {
          alert('text status ' + textStatus + ', err ' + err)
        }
      })
      alert("내 여행리스트에 추가했습니다");
    }
  </script>
</body>

</html>