
<!DOCTYPE html>
<html>
    <!--ajax, jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <head>
        <style>
            h1{
                color:pink;
            }
        </style>
    </head>

    <!--body-->
    <body>
        <h1>User Info</h1><br>
        회원정보를 등록하세요
        <br>
        <input type="text"  id="userid" placeholder="e-mail를 넣어주세요."><br>
        <input type="text"  id="userpw" placeholder="password를 넣어주세요."><br>
        <input type="button" id="Login" value="LOGIN" onclick="movepage()">
    </body>
    <script type="text/javascript">
 
      jQuery('#Login').click(function(){
        console.log('button clicked');
         var id = $('#userid').val()
         var pw = $('#userpw').val()
         jQuery.ajax({
          type: 'post',
          url: "test1",
          data: { email : $("#userid").val(), pw : $("#userpw").val()},
          success: function(data)
          {
             console.log('message', data.message);
          },
            error: function(jqXHR, textStatus, err) {
            alert('text status '+textStatus+', err '+err)
          }
          })});

          function movepage()
          {
              location.href="/FindLocation";
          }
    </script>
</html>